
body{
    background-image: url("../img/watermark.png");
    background-size: cover;
    margin: 0;
    color: #666;
}

.w3-container{
    font-weight: 300;
    font-size: 3.2em;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);-->
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50px;
}

.w3-lobster {
    font-family: "Lobster", serif;
}

.login-box{
    background-color: lightgray;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    top: 170px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    text-align: center;
}

.textoLogin{
    padding-left: 10px;


}
.text{
    font-family: 'Crete Round', serif;
}

.login-box .log-text {
    font-family: 'Crete Round', serif;
    color: #017CBD;
    background-color: whitesmoke;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px 5px 0 0;
}

.w3-btn{
    background-color: #017CBD;
    color: white;
}

form{
    font-family: 'Crete Round', serif;
    font-weight: 900;
    font-size: .9em;
    letter-spacing: 1px;
    line-height: 2em;
}

.bordaArredondada{
    border-radius: 10px;
    border: 1px solid #ddd;
}

p.small {
    font-size: 0.8em;
    margin: 5px 0 0;
}