* {
    margin: 0px;
    padding: 0px;
    font-family: inherit;
    color: #444444;
}

/* Contrução do CSS Grid */

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 1fr .5fr 2fr 2.3fr;
    grid-template-areas: " . colunaEsq colunaMeio colunaDir . " " . colunaEsq colunaMeio colunaDir . " " . varys varys varys  . " " . varys varys varys . ";
    background-image: url(../img/watermark.png);
    background-repeat: repeat;
    background-size: 16%;
}

/* Grid Área da foto e nome */

#colunaEsq {
    grid-area: colunaEsq;
    border-radius: 0 0 0 16%;
    background-color: lightgray;
}

#colunaEsq .foto {
    padding: 16px 0px 0px 0px;
    text-align: center;
}

.fotoPerfil {
    margin: 5px 0px;
    width: 50%;
    border-radius: 50%;
}

#colunaEsq .nome {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: black;
    font-weight: bold;
}

/* Fim da Área do foto e nome */


/*Grid Área do meio com informações das PetBoxes */

#colunaMeio {
    grid-area: colunaMeio;
    padding: 0px;
    background-color: lightgray;
}

#colunaMeio .titulos{
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: black;
    margin: 22px 0px;
    font-weight: bold;
}

#colunaMeio .subtitulos{
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: black;
    margin: 15px 0px;
    font-weight: bold;
}

#colunaMeio .caixinhas {
    text-align: center;
}

.caixasEspecs {
    width: 70%;
    padding-left: 10px;
    margin: 6px 0px;
    
    border: 2px solid skyblue;
    border-radius: 4px;
    
    box-sizing: border-box;
    background-color: #f1f1f1;
    vertical-align: top;
    
    /* Propriedades do texto dentro das caixas */
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    color: grey;
}


/*Fim da Área das PetBoxes */


/* Grid Área Esquerda com botões do usuário */

#colunaDir {
    grid-area: colunaDir;
    border-radius: 0 0 16% 0;
    background-color: lightgray;
}

/* Estilizações botão sair */

.botaoSair {
    text-align: right;
}

.botaoSairInterface{
    background-color: #f1f1f1;
    border: 2px none #f1f1f1;
    border-radius: 8px;
    
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
    font-weight: bold;
    color: grey;
    
    padding: 4px 15px;
    display: inline-block;
    margin: 13px;
   
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.botaoSairInterface:hover{
    color: white;
    background-color: indianred;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Fim das estilizações do botão Sair */


/*Estilizações botões centrais do usuário */


.botoesEspeciaisBaixo {
    text-align: center;
    padding: 0px 30px;
}

.botaoUsuarioInterface{
    background-color: #f1f1f1;
    border: 2px none black;
    border-radius: 8px;
    
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
    font-weight: bold;
    color: grey;
    
    width: 120px;
    
    padding: 7px 13px;
    
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.botaoUsuarioInterface:hover{
    color: grey;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Fim das estilizações dos botões centrais do usuário */

/* Estilizações botões do VARYS */

.botaoInterface {
    background-color: orange;
    border: 2px none orange;
    border-radius: 8px;
    
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 9px 13px;
    
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.botaoEspeciais {
    background-color: lightgray;
    color: black;
    border: 2px none #e7e7e7;
    border-radius: 8px;
    margin: 4px;
}

.botaoEspeciais:hover {
    background-color: lightgray;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botoes {
    background-color: lightgray;
    color: black;
    border: 2px none #e7e7e7;
    border-radius: 8px;
}

.botoes:hover {
    background-color: lightgray;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botoes:active {
    background-color: #017CBD;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Fim das estilizações dos botões do VARYS */


/* ------------ Grid Área do VARYS -------------- */

.varys {
    font-family: 'Barlow Semi Condensed', sans-serif;
    grid-area: varys;
    margin-top: 30px;
}

dados {
    grid-area: dados;
    display: block;
}

/* Estilização área do Varys */

#varysTabelaHtml {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    text-align: center;
    background-color: lightgrey;
    box-shadow: 0 8px 16px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-collapse: collapse;
}

/* Subcabeçalhos do Varys */

#varysPesquisar {
    width: 80%;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    
    color: grey;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.info {
    color: gray;
    background-color: #f1f1f1;
}

/* ------- */

/* Tabela que contém informações do BD */

table td {
    color: #0190DB;
    font-weight: bold;
    width: 40px;
    
    height: 40px;
    padding: 10px;
    border: 4px solid #CCC;
}

/* ------- */

.bordaArredondada {
    border-radius: 5px;
}

.depositoMensalTabela{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/*Fim do CSS */