{% load staticfiles %}
    <!--====== Templates dos depósitos =======-->
    <div id="avulso-template" class="row col s12">
      <form class="col s12">

        <div class="row"></div>

        <!-- Valor do depósito -->
        <div class="row">
          <div class="input-field col s12">
            <input id="valor" type="number" min="0.05" max="16000" step="any" class="validate" required>
            <label for="valor" data-error="Valor inválido">Valor</label>
          </div>
        </div>

        <div class="row">
            <!-- Quem depositou -->
          <div class="input-field col s6">
            <select class="icons" required>
              <option value="" data-icon="http://materializecss.com/images/sample-1.jpg" class="circle">Marcos Costa</option>
              <option value="" data-icon="http://materializecss.com/images/office.jpg" class="circle">Arthur Serra</option>
              <option value="" data-icon="http://materializecss.com/images/yuna.jpg" class="circle">Celielma Baldez</option>
            </select>
            <label>Quem está pagando ?</label>
          </div>

          <!-- Qual caixinha -->
          <div class="input-field col s6">
            <select class="icons" required>
              <option value="" data-icon="http://materializecss.com/images/sample-1.jpg" class="circle">Geral</option>
              <option value="" data-icon="http://materializecss.com/images/yuna.jpg" class="circle">Comida</option>

            </select>
            <label>Qual caixa ?</label>
          </div>
        </div>



        <!-- Justificativa -->
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" required></textarea>
            <label for="textarea1">Justificativa para o depósito</label>
          </div>
        </div>

        <!-- Arquivo(s) de comprovante(s) -->
        <div class="row">
          <div class="file-field input-field">
            <div class="btn col s12">
              <span>Anexar Comprovante</span>
              <input type="file" name="comprovante" value="" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" name="caminho-comprovante" value="">
            </div>
          </div>
        </div>

        <!-- Botão de registrar saque (submit) -->
        <div class="row">
            <button class="btn waves-effect waves-light col s8 offset-s4 blue" type="submit" name="action">Registrar Depósito
              <i class="material-icons">send</i>
            </button>
        </div>
      </form>
    </div>

    <div id="mensal-template" class="row col s12">
      <form class="col s12">

        <div class="row"></div>

        <!-- Nome do evento -->
        <div class="row">
          <div class="input-field col s6">
            <input id="nome_evento" type="number" value="10" step="any" min="0.05" max="400" class="validate" required>
            <label for="nome_evento">Valor do depósito</label>
          </div>
          <div class="input-field col s6">
            <input type="text" class="datepicker picker__input" readonly="" tabindex="54" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="birthdate_root" required>
            <label for="data-mensal" data-error="Data inválida">Data do depósito</label>
          </div>
        </div>

        <!-- Petianos que irão para o evento -->
        <table class="striped">
          <thead>
            <!-- Cabeçalho tabela -->
            <tr>
              <th>Petiano</th>
              <th>
                <div class="switch">
                  <b class="center-align">Padrão Pago</b>
                  <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
              </th>
            </tr>
            <!-- ============= -->
          </thead>
          <tbody>
            <tr>
              <td>ALISSON BISPO DOS SANTOS</td>
              <td>
                <div class="switch">
                  <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td>ANTONIO MOREIRA PINTO</td>
              <td>
                <div class="switch">
                  <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td>ARTHUR SERRA</td>
              <td>
                <div class="switch">
                  <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td>CAIO MANFREDINI DA SILVA MARTINS</td>
              <td>
                <div class="switch">
                  <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td>CELIELMA BALDEZ COSTA</td>
              <td>
                <div class="switch">
                  <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td>DIEGO DA SILVA OLIVEIRA</td>
              <td>
                <div class="switch">
                  <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td>EDNARA APARECIDA DOS SANTOS PEREIRA</td>
              <td>
                <div class="switch">
                  <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td>EDUARDO ROGER SILVA NASCIMENTO</td>
              <td>
                <div class="switch">
                  <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row"></div>
        <div class="row"></div>

        <!-- Botão de registrar saque (submit) -->
        <div class="row">
            <button class="btn waves-effect waves-light col s10 offset-s1 blue" type="submit" name="action">Registrar Depósito Mensal
              <i class="material-icons">send</i>
            </button>
        </div>
      </form>
    </div>
    <!--====================================================-->
