{% load staticfiles %}
    <!--====== Templates dos depósitos =======-->
    <div id="avulso-template" class="row col s12">
      <form class="col s12" method="POST" action="" enctype="multipart/form-data">

        {% csrf_token %}


        <div class="row"></div>

        <!-- Valor do depósito -->
        <div class="row">
          <div class="input-field col s12">
            <label for="{{ transaction.value.id_for_label}}" data-error="{{ transaction.value.errors }}">Valor do Depósito</label>
            {{ transaction.value }}
          </div>
        </div>

        <div class="row">

            <!-- Quem depositou -->
          <div class="input-field col s6">
            {{ transaction.user }}
          </div>

          <!-- Qual caixinha -->
          <div class="input-field col s6">
            {{ transaction.destination }}
          </div>
        </div>

        <!-- Justificativa -->
        <div class="row">
          <div class="input-field col s12">
            {{ transaction.justification }}
            <label for="textarea1">Justificativa para o depósito</label>
          </div>
        </div>

        <!-- Arquivo(s) de comprovante(s) -->
        <div class="row">
          <div class="file-field input-field">
            <div class="btn col s12 m3">
              <span>Anexar Comprovante</span>
              {{ transaction.receipt }}
            </div>
            <!-- Nome dos Arquivos -->
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" name="caminho-comprovante" value="">
            </div>
          </div>
        </div>

        <!-- Botão de registrar saque (submit) -->
        <div class="row">
            <button class="btn waves-effect waves-light col s6 m3 offset-s6 offset-m9 blue" type="submit" name="deposit-submit">Registrar Depósito
              <i class="material-icons right">send</i>
            </button>
        </div>
      </form>
    </div>

    <div id="mensal-template" class="row col s12">
      <form class="col s12" method="POST" action="" >

        {% csrf_token %}
        <div class="row"></div>

        <!-- Nome do evento -->
        <div class="row">
          <div class="input-field col s6">
            <!-- <input id="nome_evento" type="number" value="10" step="any" min="0.05" max="400" class="validate" required> -->
            {{ groupTransaction.value }}
            <label for="nome_evento">Valor do depósito</label>
          </div>
          <div class="input-field col s6">
            <!-- <input type="text" class="datepicker picker__input" readonly="" tabindex="54" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="birthdate_root" required> -->
            {{ groupTransaction.date }}
            <label for="data-mensal" data-error="Data inválida">Data do depósito</label>
          </div>
        </div>


        <!-- Petianos que irão para o evento -->
        <label>Quem vai para o evento</label>
        {{ groupTransaction.users }}

        <div class="row"></div>
        <div class="row"></div>

        <!-- Justificativa -->
        <div class="row">
          <div class="input-field col s12">
            {{ groupTransaction.justification }}
            <label for="textarea1">Justificativa para o saque</label>
          </div>
        </div>

        <!-- Botão de registrar depósito (submit) -->
        <div class="row">
          <button class="btn waves-effect waves-light col s6 m3 offset-s6 offset-m9 blue" type="submit" name="monthly-submit">Registrar Depósito Mensal
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
    <!--====================================================-->
