{% load staticfiles %}
<html>
  <head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>

    <!-- Importa o arquivo css com configurações especiais da tela de login -->
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}">
    <!-- Favicon do safebox-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'login/img/favicon.png' %}" />


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



    <title>Login</title>
  </head>
  <body>

    <div class="section"></div>
    <div class="section"></div>

  <main>
    <center>
      
      <div class="container">

        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <!-- Imagem do logo do pet (irá ser mudada para logo do safebox) -->
          <img class="responsive-img" src="{% static 'login/img/PetLogo.png' %}" />
          <div class="section"></div>
          
          <form class="col s12 login-form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.username }}
                <label for='login'>Entre com seu login ou email</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                {{ form.password }}
                <label for='password' >Entre com sua senha</label>
              </div>
              <label style='float: right;'>
                <a class='blue-text' href="{% url 'password_reset' %}"><b>Esqueceu sua senha?</b></a>
              </label>
            </div>

            <div class="row">
              <label>
                <!--Caso o usuário erre o login ou senha  -->
                {% if form.errors %}
                  <div>
                    <p class="red-text center-align">O login ou senha incorreto!</p>
                  </div>
                {% endif %}
              </label>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Entrar</button>
              </div>
            </center>
            <a href="#!">Criar Conta</a>
          </form>
        </div>
      </div>
      
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>

    
    {% block footer %}
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'materialize/js/materialize.js' %}"></script>
    {% endblock %}

  </body>
</html>
