{% load staticfiles %}
<!--====== Templates de saques =======-->
<div id="pagamento-template" class="row col s12">
  <form class="col s12" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ transaction.its_type }}
    <div class="row"></div>

    <!-- Valor do depósito -->
     <div class="row">
      <div class="input-field col s12 m6">
        <label for="{{ transaction.value.id_for_label}}" data-error="{{ transaction.value.errors }}">Valor do Saque</label>
        {{ transaction.value }}
      </div>
    </div>

    <div class="row">
        <!-- Quem depositou -->
      <div class="input-field col s6">
        <!-- o label do formulário do django não tá funcionando -->
        {{ transaction.user }}
        <label>Quem está pagando</label>
      </div>

      <!-- Qual caixinha -->
      <div class="input-field col s6">
        {{ transaction.origin }}
        <label>Qual caixa ?</label>
      </div>
    </div>

    <!-- Justificativa -->
    <div class="row">
      <div class="input-field col s12">
        {{ transaction.justification }}
        <label for="textarea1">Justificativa para o saque</label>
      </div>
    </div>

    <div class="row"></div>
    <!-- Arquivo(s) de comprovante(s) -->
    <div class="row">
      <div class="file-field input-field">
        <div class="btn col s12 m3">
          <span>Anexar Comprovante</span>
          {{ transaction.receipt }}
        </div>
        <!-- Nome dos Arquivos -->
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" name="caminho-comprovante" value="">
        </div>
      </div>
    </div>

    <!-- Botão de registrar saque (submit) -->
    <div class="row">
        <button class="btn waves-effect waves-light col s6 m3 offset-s6 offset-m9 blue" type="submit" name="action">Registrar Saque
          <i class="material-icons right">send</i>
        </button>
    </div>
  </form>
</div>


<div id="evento-template" class="row col s12">
  <form class="col s12" method="POST" action="" enctype="multipart/form-data">

    {% csrf_token %}
    {{ groupTransaction.its_type }}
    <div class="row"></div>

    <!-- Nome/local do evento -->
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">place</i>
            <!-- <input type="text" id="autocomplete-input" class="autocomplete"> -->
            {{ groupTransaction.name }}
            <label for="autocomplete-input">Nome do Evento</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <!-- <input id="valor-entrada" type="number" min="0.05" max="16000" step="any" class="validate" required> -->
        {{ groupTransaction.value }}
        <label for="valor-entrada" data-error="Valor inválido">Valor da Inscrição</label>
      </div>
      <div class="input-field col s6">
        <!-- <input type="text" class="datepicker picker__input" readonly="" tabindex="54" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="birthdate_root" required> -->
        {{ groupTransaction.date }}
        <label for="data-mensal" data-error="Data inválida">Data do Evento</label>
      </div>
    </div>

    <!-- Justificativa -->
    <div class="row">
      <div class="input-field col s12">
        <!-- <textarea id="textarea1" class="materialize-textarea" required></textarea> -->
        {{ groupTransaction.justification }}
        <label for="textarea1">Uma breve descrição do evento</label>
      </div>
    </div>

    <!-- Petianos que irão para o evento -->
    <table class="striped">
      <thead>
        <!-- Cabeçalho tabela -->
        <tr>
          <th>Petiano</th>
          <th>
            <div class="switch">
              <label>
                Não Pago
                <input type="checkbox">
                <span class="lever"></span>
                Pago
              </label>
            </div>
          </th>
        </tr>
        <!-- ============= -->
      </thead>
      {{groupTransaction.users}}
      <tbody>
        {% for user in groupTransaction.users %}
            <tr>
              <td>{{ user.label }}</td>
              <td>
                <div class="switch">
                  <label>
                    {{ user.tag }}
                    <span class="lever"></span>
                  </label>
                </div>
              </td>
            </tr>
        {% endfor %}

        <!--
        {% for checkbox in groupTransaction.who_paid %}
          {% for user in users %}
            {% if user.get_username == checkbox.choice_label and user.get_full_name != '' %}
              <tr>
                <td>{{ user.get_full_name }}</td>
                <td>
                  <div class="switch">
                    <label>
                      {{ checkbox.tag }}
                      <span class="lever"></span>
                    </label>
                  </div>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      -->
      </tbody>
    </table>
    <div class="row"></div>
    <div class="row"></div>

    <!-- Arquivo(s) de comprovante(s) -->
    <div class="row">
      <div class="file-field input-field">
        <div class="btn col s12 m3">
          <span>Anexar Comprovante</span>
          <!-- <input type="file" name="comprovante" value="" multiple> -->
          {{ groupTransaction.receipt }}
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" name="caminho-comprovante" value="">
        </div>
      </div>
    </div>

    <!-- Botão de registrar saque (submit) -->
    <div class="row">
      <button class="btn waves-effect waves-light col s6 m3 offset-s6 offset-m9 blue" type="submit" name="action">Registrar Evento
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>


<!--====================================================-->
