{% load staticfiles %}
<!--====== Templates de saques =======-->
<div id="pagamento-template" class="row col s12">
  <form class="col s12" method="POST" action="{% url 'saque' %}">
    {% csrf_token %}

    <div class="row"></div>

    <!-- Valor do depósito -->
     <div class="row">
      <div class="input-field col s12 m6">
        <!-- <input id="valor" type="number" min="0.05" max="16000" step="any" class="validate" required> -->
        <label for="{{ transaction.value.id_for_label}}" data-error="{{ transaction.value.errors }}">Valor do Saque</label>
        {{ transaction.value }}
      </div>
    </div>

    <div class="row">
        <!-- Quem depositou -->
      <div class="input-field col s6">
        <select class="icons" required>
          {% for user in users_list %}
            <option value="" data-icon="{% static 'profile-pictures/PetLogo.png' %}" class="circle">{{ user.get_full_name }}</option>
          {% endfor %}
        </select>
        <label>Quem está pagando ?</label>
      </div>

      <!-- Qual caixinha -->
      <div class="input-field col s6">
        <select class="icons" required>
          <option value="" data-icon="http://materializecss.com/images/sample-1.jpg" class="circle">Geral</option>
          <option value="" data-icon="http://materializecss.com/images/sample-1.jpg" class="circle">Comida</option>
        </select>
        <label>Qual caixa ?</label>
      </div>
    </div>

    <!-- Justificativa -->
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" required></textarea>
        <label for="textarea1">Justificativa para o saque</label>
      </div>
    </div>

    <div class="row"></div>
    <!-- Arquivo(s) de comprovante(s) -->
    <div class="row">
      <div class="file-field input-field">
        <div class="btn col s12 m3">
          <span>Anexar Comprovante</span>
          <input type="file" name="comprovante" value="" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" name="caminho-comprovante" value="">
        </div>
      </div>
    </div>

    <!-- Botão de registrar saque (submit) -->
    <div class="row">
        <button class="btn waves-effect waves-light col s6 m3 offset-s6 offset-m9 blue" type="submit" name="action">Registrar Saque
          <i class="material-icons right">send</i>
        </button>
    </div>
  </form>
</div>

<div id="evento-template" class="row col s12">
  <form class="col s12">

    <div class="row"></div>

    <!-- Nome/local do evento -->
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">place</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Nome do Evento</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="valor-entrada" type="number" min="0.05" max="16000" step="any" class="validate" required>
        <label for="valor-entrada" data-error="Valor inválido">Valor da Inscrição</label>
      </div>
      <div class="input-field col s6">
        <input type="text" class="datepicker picker__input" readonly="" tabindex="54" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="birthdate_root" required>
        <label for="data-mensal" data-error="Data inválida">Data do Evento</label>
      </div>
    </div>

    <!-- Justificativa -->
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" required></textarea>
        <label for="textarea1">Uma breve descrição do evento</label>
      </div>
    </div>

    <!-- Petianos que irão para o evento -->
    <table class="striped">
      <thead>
        <tr>
          <th>Petiano</th>
          <th>
            <div class="switch">
              <b class="center-align">Padrão Pago</b>
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ALISSON BISPO DOS SANTOS</td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>ANTONIO MOREIRA PINTO</td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>ARTHUR SERRA</td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>CAIO MANFREDINI DA SILVA MARTINS</td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>CELIELMA BALDEZ COSTA</td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>DIEGO DA SILVA OLIVEIRA</td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>EDNARA APARECIDA DOS SANTOS PEREIRA</td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>EDUARDO ROGER SILVA NASCIMENTO</td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row"></div>
    <div class="row"></div>

    <!-- Arquivo(s) de comprovante(s) -->
    <div class="row">
      <div class="file-field input-field">
        <div class="btn col s12 m3">
          <span>Anexar Comprovante</span>
          <input type="file" name="comprovante" value="" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" name="caminho-comprovante" value="">
        </div>
      </div>
    </div>

    <!-- Botão de registrar saque (submit) -->
    <div class="row">
      <button class="btn waves-effect waves-light col s6 m3 offset-s6 offset-m9 blue" type="submit" name="action">Registrar Saque
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
<!--====================================================-->
