  {% load staticfiles %}
  <html>
    <head>
      <meta charset="UTF-8">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <!-- Favicon do safebox-->
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'general-img/favicon.png' %}" />
      <!-- Esconde a barra de url-->
      <meta name="mobile-web-app-capable" content="yes">

      <title>Histórico</title>
    </head>

    <body>

      <!--======== Barra de navegação no topo da tela ========-->
      <nav class="nav-extended blue">

        <!-- Logo do safebox -->
        <div class="nav-wrapper">
          <!-- Botão de abrir menu-->
          <a href="#!" class="brand-logo left"><i class="material-icons button-collapse" data-activates="barra-navegacao-esquerda">menu</i></a>
          <!-- Título da página -->
          <a href="#!" class="brand-logo light center">Histórico</a>

        </div>

        <div class="nav-content">
          <ul>

          </ul>
        </div>
      </nav>
      <!--====================================================-->

      <!--======Histórico de movimentações financeiras =======-->
      <ul class="collapsible" data-collapsible="accordion" style="margin-top: 0;">
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

        {% for cur_transaction in transactions %}
        <li>
          <div class="collapsible-header ">
            {% if cur_transaction.its_type == 'Saque' %}
              <i class="material-icons red-text">money_off</i>
            {% elif cur_transaction.its_type == 'Deposito' %}
              <i class="material-icons green-text">attach_money</i>
            {% elif cur_transaction.its_type == 'Transferencia' %}
              <i class="material-icons blue-text">swap_horiz</i>
            {% endif %}
            <span class="truncate justificativa-header" >
              {{ cur_transaction.justification }}
              -
              {{ cur_transaction.who_did_it }}
            </span>


            {% if cur_transaction.its_type == 'Saque' %}
              <span class="red-text badge valor-texto">
                {{ cur_transaction.value }}
              </span>
            {% elif cur_transaction.its_type == 'Deposito' %}
              <span class="green-text badge valor-texto">
                {{ cur_transaction.value }}
              </span>
            {% elif cur_transaction.its_type == 'Transferencia' %}
              <span class="blue-text badge valor-texto">
                {{ cur_transaction.value }}
              </span>
            {% endif %}
          </div>

          <div class="collapsible-body">
            <span class="row">

              <!-- Comprovante preview -->
              <div  class="hide-on-med-and-down">
                <!-- Adicionar aqui o pdf/img -->
              </div>

              <div class="col s4 center-align">
                <i class="material-icons small">date_range</i>
                <br>
                {{ cur_transaction.created_date.date }}
              </div>

              <div class="col s4 center-align">
                <i class="material-icons small">account_circle</i>
                <br>
                {{ cur_transaction.who_did_it }}
              </div>

              <div class="col s4 center-align">
                <i class="material-icons small">account_balance</i>
                <br>
                {% if cur_transaction.destination %}
                  {{ cur_transaction.destination }}
                  {% if cur_transaction.origin %}
                     - {{ cur_transaction.origin }}
                  {% endif %}
                {% elif cur_transaction.origin %}
                  {{ cur_transaction.origin }}
                {% endif %}
              </div>
            <span class="row">
              <div class="col s12 center-align justificativa-texto">
                <span class="justificativa-texto"><b>
                  <a href="{{ cur_transaction.receipt.path }}">
                  {{ cur_transaction.justification }}
                  </a>
                </b></span>
              </div>
            </span>
            </span>
          </div>
        </li>

        {% endfor %}
      </ul>
      <!--====================================================-->

      <!--============= Botão de ação flutuante ==============-->
      <div class="fixed-action-btn vertical">
        <a class="btn-floating btn-large blue waves-effect">
          <i class="material-icons">add</i>
        </a>

        <ul>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons red">money_off</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons red darken-3">delete</i></a></li>
          <li><a class="btn-floating red"><i class="material-icons green">attach_money</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons blue">swap_horiz</i></a></li>
        </ul>
      </div>
      <!--====================================================-->


      <!--====== Barra de navegação à esquerda da tela ======-->
      <ul id="barra-navegacao-esquerda" class="side-nav grey lighten-4 collapsible" data-collapsible="accordion">

                     <!--  Perfil usuário resumido  -->

        <li>
          <div class="user-view">
            <!-- Background -->
            <div class="background">
              <img src="{% static 'general-img/watermark.png'%}" alt="PETComp watermark">
            </div>

            <!-- Informações do usuário -->
            <a href="#!user"><img class="circle" src="{% static 'profile-pictures/marcos.png'%}"></a>
            <a href="#!name"><span class="black-text name">Marcos Costa</span></a>
            <a href="#!email"><span class="black-text email">Mcs1901@outlook.com</span></a>

          </div>
        </li>
                             <!--  Barra de pesquisa  -->
        <li class="search">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="icon_prefix" type="text" class="validate">
                  <label for="icon_prefix">Pesquisar</label>
                </div>
              </div>
            </form>
          </div>
        </li>


              <!--  Opções válidas  -->
        <!-- Histórico de movimentações financeiras -->
        <li>
          <a href="historico.html" class="waves-effect">
            <i class="material-icons ">history</i>
            Histórico
          </a>
        </li>

        <!-- Remoção de dinheiro de alguma caixinha -->
        <li>
          <a href="saque.html" class="waves-effect">
            <i class="material-icons red-text text-darken-4">money_off</i>
            Saque
          </a>
        </li>

        <!-- Adição de dinheiro à alguma caixinha -->
        <li>
          <a href="deposito.html" class="waves-effect">
            <i class="material-icons green-text">attach_money</i>
            Depósito
          </a>
        </li>

        <!-- Transferência de dinheiro entre duas caixinhas -->
        <li>
          <a href="transferencia.html" class="waves-effect">
            <i class="material-icons blue-text">compare_arrows</i>
            Transferência
          </a>
        </li>

        <!-- Pet Metas -->
        <li>
          <a href="metas.html" class="waves-effect">
            <i class="material-icons amber-text text-darken-2">content_paste</i>
            Metas
          </a>
        </li>

        <!-- Painel de tutor -->
        <li>
          <a href="admin.html" class="waves-effect">
            <i class="material-icons grey-text">create</i>
            Painel de Administrador
          </a>
        </li>
        <!-- =========================================== -->
      </ul>



      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>

      <script type="text/javascript">
        //Botão sandwich para abrir menu do lado esquerdo da tela.
        $(".button-collapse").sideNav();

        //Ativa collapsibles do histórico que foram adicionados dinamicamente.
        $(document).ready(function(){
          $('.collapsible').collapsible();
        });
      </script>

      <style media="screen">
        .justificativa-header{
            margin: 0 .2em 0 .5em;
        }

        .justificativa-texto{
          margin: 1em 1em 0 1em;
        }

        .valor-texto{
          margin-right: .2em;
        }
      </style>
    </body>
  </html>
