<!--======Histórico de movimentações financeiras =======-->
<ul class="collapsible" data-collapsible="accordion" style="margin-top: 0;">


  {% for transaction in transactions reversed %}
  <li>
    <div class="collapsible-header ">
      {% if transaction.its_type == 'Saque' %}
        <i class="material-icons red-text">money_off</i>
      {% elif transaction.its_type == 'Deposito' %}
        <i class="material-icons green-text">attach_money</i>
      {% elif transaction.its_type == 'Transferencia' %}
        <i class="material-icons blue-text">swap_horiz</i>
      {% endif %}

      {% if not transaction.its_type == 'Transferencia'%}
        <span class="truncate justificativa-header" >
          {{ transaction.justification }}
          -
          {{ transaction.user }}
        </span>
      {% else %}
        <span class="truncate justificativa-header" >
          Transferência da caixa
          {{ transaction.origin.name }}
           para caixa
          {{ transaction.destination.name }}
          no valor de {{ transaction.value }}
        </span>
      {% endif %}

    </div>

    <div class="collapsible-body">
      <span class="row">

        <!-- Comprovante preview -->
        <div  class="hide-on-med-and-down">
          <!-- Adicionar aqui o pdf/img -->
        </div>

        <div class="col s4 center-align">
          <i class="material-icons small">date_range</i>
          <br>
          <!-- Mude isso caso seja uma movimentação financeira do grupo -->
          {{ transaction.created_at }}
        </div>

        <div class="col s3 center-align">
          <i class="material-icons small">account_circle</i>
          <br>
          {{ transaction.user.get_full_name }}
        </div>

        <div class="col s2 center-align">
          <i class="material-icons small">account_balance</i>
          <br>
          {% if transaction.destination %}
            {{ transaction.destination }}
            {% if transaction.origin %}
               - {{ transaction.origin.name }}
            {% endif %}
          {% elif transaction.origin %}
            {{ transaction.origin.name }}
          {% endif %}
        </div>
        <div class="col s3 center-align">
          <i class="material-icons small">account_balance_wallet</i>
          <br>
          R${{ transaction.value }}
        </div>
      <span class="row">
        <div class="col s12 center-align justificativa-texto">
          <span class="justificativa-texto"><b>
            {% if transaction.receipt %}
              <a href="{{ transaction.receipt.url }}">
                Comprovante da {{ transaction.justification }}
              </a>
            {% else %}

              {%if transaction.its_type == 'Transferencia'%}
                Transferência da caixa
                {{ transaction.origin.name }}
                 para caixa
                {{ transaction.destination.name }}
                no valor de {{ transaction.value }}
              {%else %}
                  O motivo foi {{ transaction.justification }}
              {% endif %}
            {% endif %}

          </b></span>
        </div>
      </span>
      </span>
    </div>
  </li>

  {% endfor %}
</ul>
<!--====================================================-->
