<!--======Histórico de movimentações financeiras =======-->
<ul class="collapsible" data-collapsible="accordion" style="margin-top: 0;">


  {% for transaction in transactions reversed %}
  <li>
    <!-- ========= CABEÇALHO ========= -->
    <div class="collapsible-header ">

      <!--A definição do icone usado verifica as caracteristicas da transação -->
      {% if transaction.origin and transaction.destination %}
      <!--Se a transação tem origem e destino ela é uma transferência -->
      <i class="material-icons blue-text">swap_horiz</i> {% elif transaction.origin %}
      <!--Se a transação tem somente origem ela é um saque -->
      <i class="material-icons red-text">money_off</i> {% elif transaction.destination %}
      <!--Se a transação tem somente destino ela é um saque -->
      <i class="material-icons green-text">attach_money</i> {% elif transaction.name %}
      <!--Se a transação tem um nome ela é uma inscrição em evento -->
      <i class="material-icons blue-text">event</i>{% else %}
      <!--Se não é nenhuma das anteriores, é um depósito mensal -->
      <i class="material-icons blue-text">group</i>

      {% endif %}

      <!-- O cabeçalho só mostra a quantidade de texto que a tela permite -->
      <span class="truncate justificativa-header">

        <!-- Caso não haja uma justificativa informada, um erro é mostrado -->
          {% if transaction.justification %}
            {{ transaction.justification }}
          {% else %}
            Justificativa não foi informada.
          {% endif %}
      </span>
      <span class="hide-on-small-only badge">
        {% if transaction.value %}
          R${{ transaction.value }}
        {% endif %}
      </span>
    </div>
    <!-- ========= FIM CABEÇALHO ========= -->

    <!-- ========= CONTEÚDO ========= -->

    <div class="collapsible-body">
      <span class="row">

        <!-- Justificativa da transação -->
        <blockquote class='flow-text' cite="http://">
          {% if transaction.justification %}
            {{ transaction.justification }}
          {% else %}
            Justificativa não informada.
          {% endif %}
        </blockquote>

        <div class="col s4 center-align">
          <i class="material-icons small grey-text">date_range</i>
          <br>
          <!-- Mude isso caso seja uma movimentação financeira do grupo -->
          {{ transaction.created_at }}
        </div>

        <div class="col s3 center-align">
          <i class="material-icons small grey-text">account_circle</i>
          <br>
          <!-- Multiplos Usuários em uma transação -->
          {% if transaction.users %}
            <ul>
              {% for user in transaction.users.all %}
                  <!-- Mostra o nome cadastrado ou o login caso não haja nome ainda -->
                  <li>
                  {% if user.get_short_name %}
                    {{ user.get_short_name }}
                  {% else %}
                    {{ user.username }}
                  {% endif %}
                  </li>
                  <!-- ====================================================-->
              {% endfor %}
            </ul>
          <!-- Usuário Único em uma transação -->
          {% elif transaction.user %}

            <!-- Mostra o nome cadastrado ou o login caso não haja nome ainda -->
            {% if transaction.user.get_short_name %}
              {{ transaction.user.get_short_name }}
            {% else %}
              {{ transaction.user.username }}
            {% endif %}
            <!-- ====================================================-->

          <!-- Mensagem de erro para usuários inexistente -->
          {% else %}
            Autor(es) Desconhecidos
          {% endif %}
        </div>

        <div class="col s2 center-align">
          <i class="material-icons small grey-text">account_balance</i>
          <br>
          <!-- Mostra o nome das caixas de acordo com a transação -->
          {% if transaction.origin and transaction.destination %}
            {{ transaction.origin }} -> {{ transaction.destination }}
          {% elif transaction.origin %}
            {{ transaction.origin.name }}
          {% elif transaction.destination %}
            {{ transaction.origin.name }}
          {% else %}
            Sem caixinha cadastrada
          {% endif %}
        </div>

        <div class="col s3 center-align">
          <i class="material-icons small grey-text">account_balance_wallet</i>
          <br>
          {% if transaction.value %}
            R$ {{ transaction.value }}
          {% else %}
            Valor não informado
          {% endif %}
        </div>
      <span class="row">
        <div class="col s12 center-align justificativa-texto">
          <span class="justificativa-texto">

            <!-- Se não existirem anexos, uma mensagem informativa é mostrada -->
            {% if transaction.receipt %}
              {% for receipt in transaction.receipt %}
                <a href="{{ transaction.receipt.url }}">
                  Comprovante da {{ transaction.justification }}
                </a>
              {% endfor %}
            {% else %}
              <span class="red-text text-lighten-3">Nenhum comprovante foi anexado.</span>
            {% endif %}

          </span>
        </div>
      </span>
      <div class="row col s2 offset-s10 center-align">
        <a href="#" class="btn-floating"><i class="material-icons red lighten-1 left-align">delete</i></a>
      </div>
    </span>

    </div>
    <!-- ========= FIM CONTEÚDO ========= -->
  </li>

  {% endfor %}
</ul>
<!--====================================================-->
