body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body{
    background-image: url("watermark.png");
    /*background-size: cover;*/
    background-repeat: repeat;

    background-size: 480px;
    margin: 0;
    color: #666;

}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #3f51b5;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #3f51b5;
  box-shadow: none;
}